<div class="container">
  <div class="row">
    <h3>Lectures</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @lectures.each do |lecture| %>
            <tr>
              <%= render lecture %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= button_to "Create new lecture", new_lecture_path, :class => "button medium", :method => :get %>
  </div>
</div>
