<h3><%= @lecture.name + " " + @lecture.semester + " " + @lecture.year.to_s %></h3>
<div class="create-button"> 
  <%= link_to "Create a review!", new_review_path %>
</div>
<% if @lecture.reviews.any? %>
  <div id="student-list"> <h4>Students:</h4> 
    <ul>
      <% @lecture.reviews.each do |review| %>
        <% if review.lecture_id == @lecture[:id]%>
          <% @user = User.find(review.person_reviewed_id) %>
          <h5><%= link_to @user.name, review %></h5>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <h4> Lecture has no reviews! </h4>
<% end %>
