<div class="container">
  <!-- Example row of columns -->
  <div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <h2><%= user.name %></h2>
      <p><a class="btn btn-default" href= "/users/<%= user.id %>" role="button">View details &raquo;</a></p>
    </div>
    <% end %>
  </div>
</div> <!-- /container -->