<div class="jumbotron">
        <h1>Find a Partner That Rocks</h1>
        <p class="lead">Discover and Rate Partners. Ace Your Projects.</p>
        <p>
        	<a class="btn btn-lg btn-success" href="users/sign_up" role="button">Sign up today</a>
        </p>
</div>